header legend {

    color: #fff ;    
}

.page-header {
    
    margin: 80px 0px 20px;
}

label {
    
    margin-right: 10px;
}
.sidebar-head{
    
    padding-top:2em;
    padding-bottom:2em;
    /*background-color:#293846;*/
    color: #777;
    font-weight: 400;
    line-height: 1;
    /*background-image: url("./img/header-profile.png");*/

}

.form-btn{
    
    margin: 10px;
}
.nav-home{
    
    border:none;
    float: left;
    font-size: 1.6em;
    margin: 0;
    padding-left: 1em;
    padding-right: 1em;
}

.cabecera {
    
    background-image: url(../img/escuelajs3.svg) ;
    background-position: bottom right;
   /* background-attachment: fixed;*/
    background-repeat: no-repeat;
    background-size: 150px ; 
    margin-right: 10px;
}

.panel{
    
    box-shadow: 10px 10px 10px #2f716e;
}

.sidebar-nav {
    
    box-shadow: 5px 5px 10px #2f716e;
}

@media (max-width: 800px) {
    
    .esconder{
        
        display: none;
    }
}

@media (min-width: 801px) {
    
    .esconder{
        
        visibility: visible;
    }
}

.sombra{
    
    box-shadow: 5px 5px 10px #000000;
}

.logo_fondo{
    
    background-image: url(../img/escuelajs3_fondo.svg) ;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 450px ; 
    margin-right: 10px;
}

.logo-text{
    
    font-size: 3em;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 6px #000000;
}



/**
*
* submenus
*
*
**/



.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.boton_helper{
    float: right;
    margin-right: 200px;
    position: fixed absolute;
}