.sidebar-head{
    
    padding-top:2em;
    padding-bottom:2em;
    /*background-color:#293846;*/
    color: #777;
    font-weight: 400;
    line-height: 1;
    /*background-image: url("./img/header-profile.png");*/

}

